/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Nov-2016, 11:28:44 AM
    Author     : fernando
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import "utilities/colorVariables.scss";
@import "utilities/globalVariables.scss";

$minWidthScreenLimit: 750px;

html{
    background-color: $myWhite;
    
}

.headerPage{
    min-height: $headerHeight !important;
    max-height: $headerHeight;
    background-color: $backGroundColor;       
}

#mainPhoto{
    
    min-height: 100px;
    @media screen and (min-width:750px){
        min-height: 400px !important;    
    }
    background-image: url("../img/mtlTreesV2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $myWhite;
}

#linkContainer{        
    margin: 0px;
    padding:0px;
}

#afterLinks{    
    background-color: #FFF;
    margin: 20px;    
}

#animContainer{
    text-align: right;
    padding: 10px 10px;
}

#svgDiv{
    text-align: right;
    padding: 0;
    //float: right;
    //background-color: #444343;
    //min-height: 10px;
}

#footer{    
    background-color: $backGroundColor;   
    min-height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: 'Open Sans Condensed', sans-serif;    
    color: $myWhite;
}

//////////////////////Circles Links//////////////////////////
$divSize: 25;
$fontSize: 30px;
$linkHeight: $fontSize*4;

.links{
    //float:left;
    margin: 0px 0px 0px 0px;
    
        min-height: $linkHeight/2 !important;    
    @media screen and (min-width:750px){
        min-height: $linkHeight !important;    
    }  
    a {
        color: inherit;
        text-decoration: inherit;          
    }
    a:hover{
        color: inherit;
        text-decoration: inherit;                
    }
    a:visited{
        color: inherit;
        text-decoration: inherit;                
    }
    a:focus{
        color: inherit;
        text-decoration: inherit;                
    }
     
}
#blog{    
    color: $myWhite;
    background-color: $color2; 
}

#cv{
    color: $myWhite;
    background-color: $color1;            
}


#recLinks{
    color: $myWhite;
    background-color: $color3;            
}

#recBooks{
    color: $myWhite;
    background-color: $color4;            
}



.textLink{
    font-size: $fontSize;
    font-family: 'Open Sans Condensed', sans-serif;    
    text-align: center;    
    @media screen and (min-width:750px){
        position: relative;
        top: $linkHeight/2 - $fontSize +4px;
    }
    
}
//////////////////////Circles Links//////////////////////////

#mainContentText{
    clear: both;
}

