/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Nov-2016, 5:19:24 PM
    Author     : fernando
*/
$backGroundColor: #749090;
$myWhite: #FFFBF1;
$color1: #CBB370; //palha
$color2: #910000; //wine
$color3: #374431; //palha
$color4: #903723; //palha
$pdfLinkBackground: #b7362f;
$myDark: #415151;

